h1 {
    text-align: center;
}

.section {
    text-align: center;
    outline: auto;
}

.centered {
    text-align: center;
}

.centered ul {
    display: inline-block;
    text-align: left;
    list-style-position: inside;
}

ol {
    display: inline-block;
    text-align: left;
    list-style-position: inside;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
}
