h1 {
    text-align: center;
}

h2 {
    margin: 10px;
    padding: 5px;
}

html {
    background-color: rgba(0, 191, 255, 0.438);
}

.section {
    text-align: center;
    outline: auto;
    padding: 5px;
    margin: 10px;
}

.centered {
    text-align: center;
}

.centered ul {
    display: inline-block;
    text-align: left;
    list-style-position: inside;
    margin: auto;
}

ol {
    display: inline-block;
    text-align: left;
    list-style-position: inside;
    margin: auto;
}

li {
    padding: 5px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
}
